{% extends 'base.html' %}
{% block title %} Grupos ITA {% endblock %}
{% block body %}

    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 jumbotron">
                <div class = "text-center">
                    <h1> {% block view_title %} {% endblock %} </h1>
                    <br>
                    {% block view_search %} {% endblock %}
                    <br>
                    {% block view_main_button %} {% endblock %}
                </div>
            </div>
        </div>
    </div>  
    <br>
    <br>
    {% block view_main_table %} {% endblock %}

    {% block view_modal %} {% endblock %}
{% endblock %}