<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
<title>Grupos ITA</title>
<style type="text/css">
    span.createGroup {
        font-size: 30px;
    }
    section.hidden {
        position: fixed;
    }
    section article.popup {
        position: relative;
        width: 400px;
        height: 300px;
        background: #e3e3e3;
        color: #222;
        border: 1px solid #333;
        border-radius: 3px;
        padding: 5px 7px;
        margin: 10% auto;
    }
    span.close {
        text-transform: uppercase;
        color: #222;
    }
    span.close:hover{
        color: red;
        cursor: pointer;
    }
</style>
</head>
    <body>
        <h1> Grupos de Email do ITA </h1>
        <div>
            <form>
                <input type="text" name="search_group" id="id_search_group" />
                <button type="submit" id="id_search_button"> Pesquisar </button> 
            </form>
        </div>   

        <br>
        <br>

        <table id="id_search_list">
            {% if groups %}
            <tr>
                <td> # </td>
                <td> Name </td>
                <td> Alias</td>
                <td> Description </td>
            </tr>
            {% endif %}
            {% for group in groups %}
            <tr>
                <td> {{ forloop.counter }} </td>
                <td> {{ group.name }} </td>
                <td> {{ group.alias }}</td>
                <td> {{ group.description }}</td>
            </tr>
            {% endfor %}
        </table>
        
        <span class="createGroup">
            <button type="button" id="id_create_group">Criar Grupo</button>
        </span> 

        <section class="hidden" id='id_popup'>
            <article class="popup" >
                <p>
                    {% if group_success %}
                        <div>
                            {{ group_name }} criado com sucesso!
                            <br>
                            Alias: {{group_alias}}
                            <br>
                            Tags: {{group_tags}}
                            <br>
                            Description: {{group_description}}
                        </div>
                    {% else %}    
                    <form method="POST">
                        <pre>
                                                    <span class="close">X</span>
                            <div>Nome:          <input name="group_name" id="id_group_name" /></div>
                            <div>Alias:         <input name="group_alias" id="id_group_alias" placeholder="itagroups_alias@googlegroups.com" /></div>
                            <div>Tags:          <input name="group_tags" id="id_group_tags" placeholder="Tags; separadas; por; ponto-e-virgula;" /></div>
                            <div>Description:   <input type="text" name="group_description" id="id_group_description" /></div>
                            <div>                        <button type="submit" id="id_create_new_group"> Criar </button></div>
                            {% csrf_token %}
                        </pre>
                    </form>
                    {% endif %}
                </p>
            </article>
        </section>
    </body>

    <!-- JQUERY SETUP -->    
    <script type="text/javascript" src="{{ STATIC_URL }} /static/jquery-1.11.3.min.js"></script>

    <script>
        $(document).ready(function(){     
            $(function(){
                $('span.createGroup').click(function(e){
                    var hiddenSection = $('section.hidden');
                    hiddenSection.fadeIn()
                        // unhide section.hidden
                        .css({ 'display':'block' })
                        // set to full screen
                        .css({ width: $(window).width() + 'px', height: $(window).height() + 'px' })
                        .css({ top:($(window).height() - hiddenSection.height())/2 + 'px',
                            left:($(window).width() - hiddenSection.width())/2 + 'px' })
                        // greyed out background
                        .css({ 'background-color': 'rgba(0,0,0,0.5)' })
                        .appendTo('body');
                        // console.log($(window).width() + ' - ' + $(window).height());
                        $('span.close').click(function(){ $(hiddenSection).fadeOut(); });
                });
            });     
        });
    </script>
</html>