{% extends 'base_view.html' %}

{% block view_title %} Grupos de Email do ITA {% endblock %}

{% block view_search %}
<form class="form-inline">
    <div class = "input-group" id="id_search_form">
        <input  type="text"
                name="search_group"
                id="id_search_group"
                class="form-control input-lg"
        />
        <div class = "input-group-btn">
            <button type="submit"
                    id="id_search_button"
                    class = "btn btn-success btn-lg"
                    value="search_button">
                    <span class="glyphicon glyphicon-search"></span></button>
        </div>
    </div>
</form>
{% endblock %}

{% block view_main_button %}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class = "text-center">
            <span class="createGroup">
                <button type="button"
                        id="id_create_group"
                        class="btn btn-info btn-lg"
                        data-toggle="modal"
                        data-target="#createGroupModal">
                    Criar Grupo
                </button>
            </span>
        </div>
    </div>
</div>

{% endblock %}

{% block view_main_table %}

<form method="POST" action={% url 'home' %} class="form-horizontal">
    {{ form }}
    <div class="modal-footer">
        <button type="submit" class="btn btn-success" id="id_create_new_group">Submit</button>
    </div>
    {% csrf_token %}
</form>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <table id="id_search_list" class="table">
            {% if groups %}
            <tr>
                <td> # </td>
                <td> Name </td>
                <td> Alias</td>
                <td> Description </td>
                <td></td>
            </tr>
            {% endif %}
            {% for group in groups %}
            <tr>
                <td> {{ forloop.counter }} </td>
                <td> {{ group.name }} </td>
                <td id="table_alias"> {{ group.alias }}</td>
                <td> {{ group.description }}</td>
                <td> <a href="/groups/{{ group.alias }}/"> <button type="submit" id="table_view_button">View Group</button></a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}

{% block view_modal %}

{% if open_popup %}
    <script>
        $(document).ready(function(){
            $("#createGroupModal").modal('show');
        });
    </script>
{% endif %}

<div id="createGroupModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    {% if group_success %}
                        <h2 class="modal-title">Sucesso!</h2>
                    {% else %}
                        <h2 class="modal-title">Criar um novo grupo</h2>
                    {% endif %}
                </div>
                <div class="modal-body">
                    {% if group_success %}
                        <div>{{ group_name }} criado com sucesso!          </div>
                        <div class="modal-footer">
                            <a href="/"><button type="button" class="btn btn-success" data-dismiss="modal">  </a>Close</button>
                        </div>
                    {% else %}
                    <form method="POST" action={% url 'home' %} class="form-horizontal">
                        {{ form }}
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success" id="id_create_new_group">Submit</button>
                        </div>
                        {% csrf_token %}
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
